html, body {
    overflow: hidden;
    /* width: 100%;
    height: 100%; */
    margin: 0;
}

canvas {
    width: 10%;
    height: 100%;
}

#title {
    position: fixed;
    color: whitesmoke;
    /* font-weight: bold; */
    font-size: 200%;
    margin: 20px;
}

#addSatButt {
    position: absolute;
    /* border: 0; */
    border-radius: 8px;
    box-sizing: border-box;
    /* color: #FFFFFF; */
    /* display: flex; */
    top: 75px;
    left: 20px;
    height: 30px;
    width: 100px;
}

#focus {
    position: absolute;
    color: whitesmoke;
    top: 120px;
    left: 20px;
}

#focusList {
    position: absolute;
    border-radius: 8px;
    top: 120px;
    left: 80px;
    width: 100px;
}

#orbParams {
    position: absolute;
    color: whitesmoke;
    /* font-weight: bold; */
    text-decoration: underline;
    top: 200px;
    left: 20px;
}

#semiMajor {
    position: absolute;
    color: whitesmoke;
    top: 230px;
    left: 20px;
}

#eccentricity {
    position: absolute;
    color: whitesmoke;
    top: 260px;
    left: 20px;
}

#inclination {
    position: absolute;
    color: whitesmoke;
    top: 290px;
    left: 20px;
}

#raan {
    position: absolute;
    color: whitesmoke;
    top: 320px;
    left: 20px;
}

#argPer {
    position: absolute;
    color: whitesmoke;
    top: 350px;
    left: 20px;
}

#trueAnomaly {
    position: absolute;
    color: whitesmoke;
    top: 380px;
    left: 20px;
}

#thrust {
    position: absolute;
    color: whitesmoke;
    bottom: 125px;
    left: 20px;
}

#thrustSlider {
    position: absolute;
    left: 20px;
    bottom: 100px;
}

#simSpeed {
    position: absolute;
    color: whitesmoke;
    bottom: 50px;
    left: 20px;
}

#ui_date {
    position: absolute;
    color: whitesmoke;
    bottom: 20px;
    left: 20px;

    user-select: none;
}

#fps {
    position: absolute;
    color: whitesmoke;
    bottom: 20px;
    right: 60px;

    user-select: none;
}

.ui {
    position: absolute;
}