html, body {
    overflow: hidden;
    /* width: 100%;
    height: 100%; */
    margin: 0;
}

canvas {
    width: 10%;
    height: 100%;
}

#info {
    position: absolute;
    top: 100px;
    left: 20px;
    color: #22ba5f;
}

.ui {
    position: absolute;
}

#Speed {
    margin: 20px;
    color: #b2d429;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#eccentricity {
    position: absolute;
    top: 200px;
    background-color: rgba(0, 0, 0, 0);
}

  